name: Deploy Firestore Rules
  on:
    push:
      branches:
        - main
  jobs:
    deploy:
      runs-on: ubuntu-latest
      
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4

        - name: Install Firebase CLI
          run: npm install -g firebase-tools

        - name: Deploy Firestore rules
          run: firebase deploy --only firestore
          env:
            FIREBASE_TOKEN: ${{secrets.FIREBASE_TOKEN}}
